
/* Navigation */
@media screen and (max-width:639px) {
  .top-navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    height: 100%;
    pointer-events: none;
  }
  .top-navigation.opened{
    pointer-events: initial;
  }
  .top-navigation ul {
    display: flex;
    width: 300px;
    height: 100%;
    padding: 80px 20px;
    background: #fafafa;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    transition: right .25s ease-out;
  }
  .top-navigation.opened ul{
    right: 0;
    transition: right .25s ease-in;
  }
  .top-navigation li {
    width: 100%;
    margin-bottom: .5rem;
  }
  .top-navigation a{
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: .75rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid;
    background: #fff;
  }
  .top-navigation a.active{
    background: #E16259;
    color: #fff;
  }

  .top-navigation .menu-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000aa;
    opacity: 0;
    transition: opacity .25s ease-out;
  }
  .top-navigation.opened .menu-bg{
    opacity: 1;
    transition: opacity .25s ease-in;
  }
  .menu-button{
    position: relative;
    border: 1px solid;
    width: 48px;
    height: 48px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
  }
}

@media screen and (min-width:640px) {
  .top-navigation{
    padding-top: 7px;
  }
  .top-navigation li {
    margin-right: 24px;
  }
  .top-navigation li:last-child {
    margin-right: 0;
  }
  .top-navigation a{
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    transition: color .25s ease-out;
  }
  .top-navigation a.active{
    border-bottom: 2px solid #E16259;
  }
  .top-navigation a:hover{
    color: #E16259;
  }
  .menu-button, .menu-bg{
    display: none;
  }
}