@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
body > .container {
  max-width: 1440px;
  /* box-shadow: 0 0 3px rgba(0,0,0,0.5); */
}
@media screen and (min-width: 768px) {
  body > .container {
    padding: 2.5rem min(calc(100vw / 1440 * 120), 120px); 
  }
}

.company-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 145%;
}

.title-section h1{
  color: #000;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -1.85px;
  margin-bottom: 24px;
}
.title-section p{
  font-style: normal;
  font-weight: 400;
  line-height: 145%; 
}

@media screen and (max-width: 767px) {
  .right-image{
    width: calc(100vw / 360 * 240);
    height: auto;
  }
  .title-section h1{
    font-size: calc(100vw / 360 * 40);
    white-space: pre-line;
  }
  .title-section p{
    font-size: calc(100vw / 360 * 16);
  }
}

@media screen and (min-width: 768px) {
  .right-image{
    width: min(calc(100vw / 1440 * 384), 384px);
    height: auto;
    margin-right: min(calc(100vw / 1440 * 102), 102px);
  }
  .title-section{
    max-width: 588px;

  }
  .title-section h1{
    font-size: min(calc(100vw / 1440 * 69), 69px);
    white-space: pre-line;
  }
  .title-section p{
    font-size: max(min(calc(100vw / 1440 * 20), 20px), 14px);
  }
  .title-section p span{
    white-space: nowrap;
  }
}
