#search-section{
  margin-bottom: 50px;
}

.search-textbox{
  display: flex;
  max-width: 384px;
  width: 100%;
  height: 44px;
  padding: 0px 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #EEE; 
}
.search-textbox::placeholder{
  color: rgba(0, 0, 0, 0.40);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
.search-textbox:focus{
  border: 2px solid #000;
}